<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule currencies/(.*)/(.*)$ currency.php?id=$1&type=$2 [QSA,NC,L]
RewriteRule currencies/(.*)$ currency.php?id=$1 [QSA,NC,L]
RewriteRule currencies currency.php [QSA,NC,L]
</IfModule>